[Unit]
Description=Tmux Theme Synchronizer
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/rehem/.local/bin/tmux-theme-watcher
Restart=always
RestartSec=3
Environment=DISPLAY=%i

[Install]
WantedBy=default.target